.app-container {
	background: #d6d4d3;
	font-family: 'Nunito', monospace;
	color: #766e6e;
	min-height: 100vh;
}

.app-container a {
	text-decoration: none;
	color: rgb(85, 26, 139);
	outline: none;
}

.app-container a:hover, a:focus {
	color: #c82222;
}

.bg-alert-blue {
 background-color: #eeeeee;
}

.bg-our-gray {
  background-color: #d6d4d3;
}

.text-our-gray {
	color: #766e6e;
}

.text-our-highlight {
	color: #c82222;
}
