main {
	font-family: 'Nunito', monospace;
	color: var(--color-text);
	background-color: var(--color-background);
	min-height: 100vh;
}

.bg-alert-blue {
 background-color:#eeeeee;
}

.bg-our-gray {
  background-color:#d6d4d3;
}

.text-our-gray {
	color: #766e6e;
}

.text-our-highlight {
	color: #c82222;
}
